.container {
    width: 600px;
}

.row {
    padding: 0;
    margin: 0;
    display: flex;
}
.column {
    background: tomato;
    flex: 1 0 auto;
    aspect-ratio: 1 / 1 ;
    border: solid 1px black;
}

.hover {
    background: blue;
}
